<!DOCTYLE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Note added at {{ hostname }}</title>
    </head>
    <body>
        <h1>Note added at {{ hostname }}</h1>
        <p>Hello {{ name }}!</p>
        <p>You were given a note with the public name "{{ public }}" by {{ sender }}.</p>
        <p>The login is available in your public folder or <a href="https://{{ hostname }}/notes/{{ id }}">directly.</p>
        <p>Have a great day,<br/>Your Walled Secrets Bot</p>
        <br />
        <p>The site {{ hostname }} is hosted and operated by {{ contact }}, see the <a href="https://{{ hostname }}/imprint">imprint</a> for more information.</p>
    </body>
</html>