<!DOCTYLE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Password changed at {{ hostname }}</title>
    </head>
    <body>
        <h1>Password changed at {{ hostname }}</h1>
        <p>Hello {{ name }}!</p>
        <p>Your master-password is proposed to change, please <a href="https://{{ hostname }}/password-change/{{ user }}/{{ uuid }}/{{ allow }}">confirm it</a> or <a href="https://{{ hostname }}/password-change/{{ user }}/{{ uuid }}/{{ deny }}">deny it</a>.</p>
        <p>The change will automatically be denied in a day.</p>
        <p>Have a great day,<br/>Your Walled Secrets Bot</p>
        <br />
        <p>The site {{ hostname }} is hosted and operated by {{ contact }}, see the <a href="https://{{ hostname }}/imprint">imprint</a> for more information.</p>
    </body>
</html>