{% include 'header.twig' %}
<h1>{{ folder.name }}</h1>
<h2>Logins</h2>
{% for login in logins %}
    <form method="post">
        <input type="hidden" name="id" value="{{ login.id }}"/>
        <label for="user{{ login.aid }}">Username</label>
        <input type="text" name="user" id="user{{ login.aid }}" value="{{ login.login }}"/>
        <label for="domain{{ login.aid }}">Domain</label>
        <input type="text" name="domain" id="domain{{ login.aid }}" value="{{ login.domain }}"/>
        <label for="password{{ login.aid }}">Password</label>
        <input type="password" name="password" id="password{{ login.aid }}" value="{{ login.pass }}"/>
        <label for="note{{ login.aid }}">Note for the password</label>
        <textarea name="note" id="note{{ login.aid }}">{{ login.note }}</textarea>
        <button type="submit">Modify</button>
    </form>
{% endfor %}
{% if folder.role == 'Owner' or folder.role == 'Administrator' or folder.role == 'Member' %}
    <form method="post">
        <label for="user">Username</label>
        <input type="text" name="user" id="user"/>
        <label for="domain">Domain</label>
        <input type="text" name="domain" id="domain"/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
        <label for="note">Note for the password</label>
        <textarea name="note" id="note"></textarea>
        <button type="submit">Add</button>
    </form>
{% endif %}
<h2>Notes</h2>
{% for note in notes %}
    <form method="post">
        <input type="hidden" name="id" value="{{ note.id }}"/>
        <label for="name{{ note.aid }}">Name</label>
        <input type="text" name="name" id="name{{ note.aid }}" value="{{ note.name }}"/>
        <textarea name="content">{{ note.content }}</textarea>
        <button type="submit">Modify</button>
    </form>
{% endfor %}
{% if folder.role == 'Owner' or folder.role == 'Administrator' or folder.role == 'Member' %}
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
        <textarea name="content"></textarea>
        <button type="submit">Add</button>
    </form>
{% endif %}
{% include 'footer.twig' %}