{% include 'header.twig' %}
<h1>{{ folder.name }}</h1>
<h2>Logins</h2>
<ul>
{% for login in logins %}
    <li><a href="/logins/{{ login.id }}">{{ login.public }}</a></li>
{% endfor %}
</ul>
{% if folder.role == 'Owner' or folder.role == 'Administrator' or folder.role == 'Member' %}
    <h3>New</h3>
    <form method="post">
        <label for="identifier">Public Identifier</label>
        <input type="text" name="identifier" id="identifier"/>
        <label for="user">Username</label>
        <input type="text" name="user" id="user"/>
        <label for="domain">Domain</label>
        <input type="text" name="domain" id="domain"/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
        <label for="note">Note for the password</label>
        <textarea name="note" id="note"></textarea>
        <button type="submit">Add</button>
    </form>
{% endif %}
<h2>Notes</h2>
<ul>
{% for note in notes %}
    <li><a href="/notes/{{ note.id }}">{{ note.public }}</a></li>
{% endfor %}
</ul>
{% if folder.role == 'Owner' or folder.role == 'Administrator' or folder.role == 'Member' %}
    <h3>New</h3>
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
        <textarea name="content"></textarea>
        <button type="submit">Add</button>
    </form>
{% endif %}
{% include 'footer.twig' %}