{% include 'header.twig' %}
<h1>Welcome {{ user.name }}</h1>
<h2>Settings</h2>
<form method="post">
    <label for="api-key">Your API-Key</label>
    <input id="api-key" type="text" disabled value="{{ user.apikey }}"/>
    <input type="hidden" value="1" name="regenerate"/>
    <button type="submit">Regenerate Key</button>
</form>
<form method="post">
    <label for="haveibeenpwned">Enable HaveIBeenPwned Check</label>
    <input type="hidden" value="1" name="haveibeenpwned"/>
    <input id="haveibeenpwned" name="haveibeenpwned" type="checkbox"{% if user.haveibeenpwned==1 %} checked{% endif %} value="1"/>
    <button type="submit">Submit</button>
</form>
<h2>Folders</h2>
<p>These store your passwords and secret notes</p>
<ul>
    {% for folder in folders %}
        <li><a href="/folder/{{ folder.id }}">{{ folder.name }} ({{ folder.type }})</a></li>
    {% endfor %}
</ul>
<h3>New</h3>
<form method="post">
    <label for="folder">Your Folder's name</label>
    <input type="text" placeholder="home" id="folder" name="folder" required/>
    <button type="submit">Create</button>
</form>
<h2>Organisations</h2>
<p>These allow you to share passwords and secret notes.</p>
<ul>
    {% for organisation in organisations %}
        {% if organisation.role == 'Proposed' %}
            <li>{{ organisation.name }} ({{ organisation.role }})</li>
        {% else %}
            <li><a href="/organisation/{{ organisation.id }}">{{ organisation.name }} ({{ organisation.role }})</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h3>New</h3>
<form method="post">
    <label for="organisation">Your Organisation's name</label>
    <input type="text" placeholder="League of Evil" id="organisation" name="organisation" required/>
    <button type="submit">Create</button>
</form>
<h2>Known Users</h2>
<p>These are the people you already know on this platform.</p>
<ul>
    {% for known in knowns %}
        <li><a href="/knowns/{{ known.id }}">{{ known.display }} ({{ known.uid }})</a></li>
    {% endfor %}
</ul>
<h3>Invite New</h3>
<form method="post">
    <label for="name">Your Friend's name</label>
    <input type="text" placeholder="Max Mustermann" id="name" name="name" required/>
    <label for="email">Your Friend's eMail</label>
    <input type="email" id="email" name="email" required/>
    <button type="submit">Invite</button>
</form>
{% include 'footer.twig' %}