{% include 'header.twig' %}
<h1>Welcome {{ user.name }}</h1>
<h2>Settings</h2>
<form method="post">
    <label for="api-key">Your API-Key</label>
    <input id="api-key" type="text" disabled value="{{ user.apikey }}"/>
    <input type="hidden" value="1" name="regenerate"/>
    <button type="submit">Regenerate Key</button>
</form>
<form method="post">
    <label for="haveibeenpwned">Enable HaveIBeenPwned Check</label>
    <input type="hidden" value="0" name="haveibeenpwned"/>
    <input id="haveibeenpwned" name="haveibeenpwned" type="checkbox"{% if user.haveibeenpwned==1 %} checked{% endif %} value="1"/>
    <button type="submit">Submit</button>
</form>
<h2>Folders</h2>
<p>These store your passwords and secret notes</p>
<ul>
    {% for folder in folders %}
        <li><a href="/folder/{{ folder.id }}">{{ folder.name }} ({{ folder.type }})</a></li>
    {% endfor %}
</ul>
<h3>New</h3>
<form method="post">
    <label for="folder">Your Folder's name</label>
    <input type="text" placeholder="home" id="folder" name="folder" required/>
    <button type="submit">Create</button>
</form>
{% include 'footer.twig' %}