{% include 'header.twig' %}
<h2>Imprint</h2>
<p>Statement according to ยง 5 TMG:<br><br></p>
</p><p>{{ contact_name }}<br>
{{ contact_street }}<br>
{{ contact_city }}<br>
</p>
<h2>Contact:</h2>
<table><tbody><tr>
<td><p>Phone:</p></td>
<td><p>{{ contact_phone }}</p></td></tr>
<tr><td><p>E-Mail:</p></td>
<td><p>{{ contact_email }}</p></td>
</tr></tbody></table>
<h2>Limited Liability:</h2>
<h3>Liability for Links</h3>
<p>We have checkt all links at the point of creating them for their content. We can not be held liable for third party content that is avaible at those link target. If the content at a linked breaks a law, please notify us so we can remove the link immediately.</p>
<h2>Privacy</h2>
<p>The use of contact info from this Imprint, the Privacy Statement or the End User License Agreement(EULA) for any other then the intended purpose of the german imprint requirement is not allowed. We especially do not consent to advertisements, product information or mass mailings of any kind.</p>
{% include 'footer.twig' %}
