{% include 'header.twig' %}
<h1>{{ login.public }}</h1>
<form method="post">
    <label for="identifier">Public Identifier</label>
    <input type="text" name="identifier" value="{{ login.public }}" id="identifier"/>
    <label for="user">Username</label>
    <input type="text" name="user" id="user" value="{{ login.login }}"/>
    {% if login.pwned==1 %}<p>This account was pwned according to <a href="https://haveibeenpwned.com/" target="_blank">haveibeenpwned</a>.{% endif %}
    <label for="domain">Domain</label>
    <input type="text" name="domain" id="domain" value="{{ login.domain }}"/>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" value="{{ login.pass }}"/>
    <label for="note">Note for the password</label>
    <textarea name="note" id="note">{{ login.note }}</textarea>
    <button type="submit">Modify</button>
</form>
<script src="copy.js"></script>
{% include 'footer.twig' %}