{% include 'header.twig' %}
<h1>{{ login.public }}</h1>
<form method="post">
    <label for="user">Username</label>
    <input type="text" name="user" id="user" value="{{ login.login }}"/>
    <label for="domain">Domain</label>
    <input type="text" name="domain" id="domain" value="{{ login.domain }}"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{ login.pass }}"/>
    <label for="note">Note for the password</label>
    <textarea name="note" id="note">{{ login.note }}</textarea>
    <button type="submit">Modify</button>
</form>
{% include 'footer.twig' %}