{% include 'header.twig' %}
<h1>{{ login.public }}</h1>
<form method="post">
    <label for="identifier">Public Identifier</label>
    <input type="text" name="identifier" value="{{ login.public }}" id="identifier"/>
    <label for="user">Username</label>
    <input type="text" name="user" id="user" value="{{ login.login }}"/>
    {% if login.pwned==1 %}<p>This account was pwned according to <a href="https://haveibeenpwned.com/" target="_blank">haveibeenpwned</a>.{% endif %}
    <label for="domain">Domain</label>
    <input type="text" name="domain" id="domain" value="{{ login.domain }}"/>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" value="{{ login.pass }}"/>
    <label for="note">Note for the password</label>
    <textarea name="note" id="note">{{ login.note }}</textarea>
    {% if twoFactor %}
        <label for="modifycode">Auth-Code</label>
        <input type="password" required name="code" id="modifycode"/>
    {% endif %}
    <button type="submit">Modify</button>
</form>
<h2>Delete</h2>
<form method="post">
    {% if twoFactor %}
        <label for="deletecode">Auth-Code</label>
        <input type="password" required name="code" id="deletecode"/>
    {% endif %}
    <input type="hidden" name="delete" value="1">
    <button type="submit">Delete</button>
</form>
{% if organisations is not empty %}
    <h2>Move to Organisation</h2>
    <form method="post">
        {% if twoFactor %}
            <label for="deletecode">Auth-Code</label>
            <input type="password" required name="code" id="deletecode"/>
        {% endif %}
        <label for="organisation">Organisation:Folder</label>
        <select id="organisation" name="organisation">
            {% for organisation in organisations %}
                <option value="{{ organisation.id }}:{{ organisation.folder }}">{{ organisation.name }}:{{ organisation.folderName }}</option>
            {% endfor %}
        </select>
        <button type="submit">Move</button>
    </form>
{% endif %}
<script src="copy.js"></script>
{% include 'footer.twig' %}