{% include 'header.twig' %}
<h1>{{ organisation.name }}</h1>
{% if organisation.role == 'Administrator' or organisation.role == 'Owner' %}
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ organisation.name }}"/>
        {% if twoFactor %}
            <label for="auth">Require Auth-Code</label>
            <input type="hidden" value="0" name="auth"/>
            <input type="checkbox" value="1" name="auth" id="auth"/>
            <label for="orgcode">Auth-Code</label>
            <input type="text" required name="code" id="orgcode"/>
        {% endif %}
        <button type="submit">Modify</button>
    </form>
    <a href="/organisations/{{ organisation.id }}/log">Audit-Log</a>
{% endif %}
<h2>Members</h2>
{% for member in members %}
    <form method="post">
        <input type="hidden" name="id" value="{{ member.id }}"/>
        <label for="user">Username</label>
        <input type="text" disabled id="user" value="{{ member.display }}"/>
        <label for="role">Role</label>
        <select name="role"{% if organisation.role != 'Administrator' and organisation.role != 'Owner' %}disabled{% endif %}>
            <option>Removed</option>
            <option{% if member.role == 'Proposed' %} selected{% endif %}>Proposed</option>
            <option{% if member.role == 'Reader' %} selected{% endif %}>Reader</option>
            <option{% if member.role == 'Member' %} selected{% endif %}>Member</option>
            <option{% if member.role == 'Administrator' %} selected{% endif %}>Administrator</option>
            <option{% if member.role == 'Owner' %} selected{% endif %}>Owner</option>
        </select>
        {% if organisation.role == 'Administrator' or organisation.role == 'Owner' %}
            {% if twoFactor %}
                <label for="rolecode">Auth-Code</label>
                <input type="text" required name="code" id="rolecode"/>
            {% endif %}
            <button type="submit">Modify</button>
        {% endif %}
    </form>
{% endfor %}
{% if knowns is not empty %}
    <h2>Propose a friend</h2>
    <form method="post">
        <label for="known">User</label>
        <select name="known" id="known">
            {% for known in knowns %}
                <option value="{{ known.id }}">{{ known.display }} ({{ known.id }})</option>
            {% endfor %}
        </select>
        {% if twoFactor %}
            <label for="invitecode">Auth-Code</label>
            <input type="text" required name="code" id="invitecode"/>
        {% endif %}
        <button type="submit">Propose</button>
    </form>
{% endif %}
<h2>Folders</h2>
<ul>
    {% for folder in folders %}
        <li><a href="/folder/{{ folder.id }}">{{ folder.name }}</a></li>
    {% endfor %}
</ul>
{% if organisation.role == 'Administrator' or organisation.role == 'Owner' %}
    <h3>New</h3>
    <form method="post">
        <label for="folder">Your Folder's name</label>
        <input type="text" placeholder="home" id="folder" name="folder" required/>
        {% if twoFactor %}
            <label for="foldercode">Auth-Code</label>
            <input type="text" required name="code" id="foldercode"/>
        {% endif %}
        <button type="submit">Create</button>
    </form>
{% endif %}
{% include 'footer.twig' %}