{% include 'header.twig' %}
<h1>Search</h1>
<form method="post">
    <label for="term">Search Term</label>
    <input type="text" name="term" id="term" value="{{ term }}"/>
    <button type="submit">Search</button>
</form>
{% if logins is not empty %}
    <h2>Logins</h2>
    <ul>
    {% for login in logins %}
        <li><a href="/logins/{{ login.id }}">{{ login.public }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if notes is not empty %}
    <h2>Notes</h2>
    <ul>
    {% for note in notes %}
        <li><a href="/notes/{{ note.id }}">{{ note.public }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% include 'footer.twig' %}