{% include 'header.twig' %}
<h1>Socials</h1>
<h2>Organisations</h2>
<p>These allow you to share passwords and secret notes.</p>
<ul>
    {% for organisation in organisations %}
        {% if organisation.role == 'Proposed' %}
            <li>{{ organisation.name }} ({{ organisation.role }})</li>
        {% else %}
            <li><a href="/organisation/{{ organisation.id }}">{{ organisation.name }} ({{ organisation.role }})</a></li>
        {% endif %}
    {% endfor %}
</ul>
<h3>New</h3>
<form method="post">
    <label for="organisation">Your Organisation's name</label>
    <input type="text" placeholder="League of Evil" id="organisation" name="organisation" required/>
    {% if twoFactor %}
        <label for="orgcode">Auth-Code</label>
        <input type="password" required name="auth" id="orgcode"/>
    {% endif %}
    <button type="submit">Create</button>
</form>
<h2>Known Users</h2>
<p>These are the people you already know on this platform.</p>
<ul>
    {% for known in knowns %}
        <li><a href="/knowns/{{ known.id }}">{{ known.display }} ({{ known.uid }})</a></li>
    {% endfor %}
</ul>
<h3>Accept invite</h3>
<form method="post">
    <label for="id">The invite ID</label>
    <input type="text" id="id" name="id" required/>
    <label for="code">The invite code</label>
    <input type="text" id="code" name="code" required/>
    {% if twoFactor %}
        <label for="acceptcode">Auth-Code</label>
        <input type="text" required name="auth" id="acceptcode"/>
    {% endif %}
    <button type="submit">Accept</button>
</form>
<h3>Invite New</h3>
<form method="post">
    <label for="name">Your Friend's name</label>
    <input type="text" placeholder="Max Mustermann" id="name" name="name" required/>
    <label for="email">Your Friend's eMail</label>
    <input type="email" id="email" name="email" required/>
    {% if twoFactor %}
        <label for="invitecode">Auth-Code</label>
        <input type="text" required name="auth" id="invitecode"/>
    {% endif %}
    <button type="submit">Invite</button>
</form>
{% include 'footer.twig' %}